In [1]:
import pandas as pd

In [2]:
flights_csv = "DelayedFlights.csv"

In [3]:
flights = pd.read_csv(flights_csv)

In [4]:
flights.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [5]:
flights_df = flights[["Origin","Dest", "ArrDelay", "DepDelay"]]

In [6]:
airports_csv = "airports.csv"
airports = pd.read_csv(airports_csv, encoding='latin1')
airports.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [7]:
airports_df = airports[["AIRPORT", "IATA_CODE", "STATE"]]
airports_df

                                 AIRPORT IATA_CODE STATE
0    Lehigh Valley International Airport       ABE    PA
1               Abilene Regional Airport       ABI    TX
2      Albuquerque International Sunport       ABQ    NM
3              Aberdeen Regional Airport       ABR    SD
4     Southwest Georgia Regional Airport       ABY    GA
..                                   ...       ...   ...
317                     Wrangell Airport       WRG    AK
318               Westerly State Airport       WYS    MT
319  Northwest Arkansas Regional Airport       XNA    AR
320                      Yakutat Airport       YAK    AK
321           Yuma International Airport       YUM    AZ

[322 rows x 3 columns]

In [8]:
airports_df= airports_df.rename(columns = {"IATA_CODE":"Origin"})
airports_df

                                 AIRPORT Origin STATE
0    Lehigh Valley International Airport    ABE    PA
1               Abilene Regional Airport    ABI    TX
2      Albuquerque International Sunport    ABQ    NM
3              Aberdeen Regional Airport    ABR    SD
4     Southwest Georgia Regional Airport    ABY    GA
..                                   ...    ...   ...
317                     Wrangell Airport    WRG    AK
318               Westerly State Airport    WYS    MT
319  Northwest Arkansas Regional Airport    XNA    AR
320                      Yakutat Airport    YAK    AK
321           Yuma International Airport    YUM    AZ

[322 rows x 3 columns]

In [9]:
flights_df.head(3)

  Origin Dest  ArrDelay  DepDelay
0    IAD  TPA     -14.0       8.0
1    IAD  TPA       2.0      19.0
2    IND  BWI      14.0       8.0

In [10]:
complete = pd.merge(flights_df, airports_df, how="left", on=["Origin"])
complete.head(5)

,Origin,Dest,ArrDelay,DepDelay,AIRPORT,STATE
0,IAD,TPA,-14.0,8.0,Washington Dulles International Airport,VA
1,IAD,TPA,2.0,19.0,Washington Dulles International Airport,VA
2,IND,BWI,14.0,8.0,Indianapolis International Airport,IN
3,IND,BWI,34.0,34.0,Indianapolis International Airport,IN
4,IND,JAX,11.0,25.0,Indianapolis International Airport,IN

In [11]:
flights_origin = complete.groupby(["Origin", "AIRPORT", "STATE"])["ArrDelay"].mean()
flights_origin.head()

Origin  AIRPORT                              STATE
ABE     Lehigh Valley International Airport  PA       60.820404
ABI     Abilene Regional Airport             TX       66.369898
ABQ     Albuquerque International Sunport    NM       33.597238
ABY     Southwest Georgia Regional Airport   GA       50.907534
ACK     Nantucket Memorial Airport           MA       66.040816
Name: ArrDelay, dtype: float64

In [12]:
worst_airports = flights_origin.sort_values(ascending=False).head(10)
worst_airports

Origin  AIRPORT                                    STATE
CMX     Houghton County Memorial Airport           MI       122.558824
PLN     Pellston Regional Airport of Emmet County  MI        94.666667
SPI     Abraham Lincoln Capital Airport            IL        87.421348
MQT     Sawyer International Airport               MI        80.273684
ALO     Waterloo Regional Airport                  IA        79.903226
MOT     Minot International Airport                ND        79.175573
EGE     Eagle County Regional Airport              CO        77.173397
PUB     Pueblo Memorial Airport                    CO        74.000000
BGM     Greater Binghamton Airport                 NY        73.803922
MBS     MBS International Airport                  MI        73.128253
Name: ArrDelay, dtype: float64

In [13]:
best_airports = flights_origin.sort_values(ascending=True).head(10)
best_airports

Origin  AIRPORT                                      STATE
INL     Falls International Airport                  MN       15.000000
WYS     Westerly State Airport                       MT       18.300000
ADK     Adak Airport                                 AK       20.358491
GST     Gustavus Airport                             AK       23.725000
OAK     Oakland International Airport                CA       26.358145
ANC     Ted Stevens Anchorage International Airport  AK       30.528127
PHX     Phoenix Sky Harbor International Airport     AZ       30.596674
CLD     McClellan-Palomar Airport                    CA       30.679707
DAL     Dallas Love Field                            TX       30.925878
SMF     Sacramento International Airport             CA       31.466083
Name: ArrDelay, dtype: float64

In [28]:
airports_info = pd.concat([best_airports, worst_airports], axis=0)

In [29]:
airports_info = airports_info.sort_values(ascending = True)
type(airports_info)
airports_info = airports_info.to_frame().reset_index("AIRPORT")
airports_info = airports_info.rename(columns= {"ArrDelay": 'value', "AIRPORT": "x"})

In [30]:
airports_info

                                                        x       value
Origin STATE
INL    MN                     Falls International Airport   15.000000
WYS    MT                          Westerly State Airport   18.300000
ADK    AK                                    Adak Airport   20.358491
GST    AK                                Gustavus Airport   23.725000
OAK    CA                   Oakland International Airport   26.358145
ANC    AK     Ted Stevens Anchorage International Airport   30.528127
PHX    AZ        Phoenix Sky Harbor International Airport   30.596674
CLD    CA                       McClellan-Palomar Airport   30.679707
DAL    TX                               Dallas Love Field   30.925878
SMF    CA                Sacramento International Airport   31.466083
MBS    MI                       MBS International Airport   73.128253
BGM    NY                      Greater Binghamton Airport   73.803922
PUB    CO                         Pueblo Memorial Airport   74.000000
EGE    CO                   Eagle County Regional Airport   77.173397
MOT    ND                     Minot International Airport   79.175573
ALO    IA                       Waterloo Regional Airport   79.903226
MQT    MI                    Sawyer International Airport   80.273684
SPI    IL                 Abraham Lincoln Capital Airport   87.421348
PLN    MI       Pellston Regional Airport of Emmet County   94.666667
CMX    MI                Houghton County Memorial Airport  122.558824

In [31]:
airports_info.to_json(orient="table")

'{"schema":{"fields":[{"name":"Origin","type":"string"},{"name":"STATE","type":"string"},{"name":"x","type":"string"},{"name":"value","type":"number"}],"primaryKey":["Origin","STATE"],"pandas_version":"0.20.0"},"data":[{"Origin":"INL","STATE":"MN","x":"Falls International Airport","value":15.0},{"Origin":"WYS","STATE":"MT","x":"Westerly State Airport","value":18.3},{"Origin":"ADK","STATE":"AK","x":"Adak Airport","value":20.358490566},{"Origin":"GST","STATE":"AK","x":"Gustavus Airport","value":23.725},{"Origin":"OAK","STATE":"CA","x":"Oakland International Airport","value":26.358144743},{"Origin":"ANC","STATE":"AK","x":"Ted Stevens Anchorage International Airport","value":30.5281274587},{"Origin":"PHX","STATE":"AZ","x":"Phoenix Sky Harbor International Airport","value":30.5966742334},{"Origin":"CLD","STATE":"CA","x":"McClellan-Palomar Airport","value":30.6797066015},{"Origin":"DAL","STATE":"TX","x":"Dallas Love Field","value":30.9258782515},{"Origin":"SMF","STATE":"CA","x":"Sacramento International Airport","value":31.46608299},{"Origin":"MBS","STATE":"MI","x":"MBS International Airport","value":73.1282527881},{"Origin":"BGM","STATE":"NY","x":"Greater Binghamton Airport","value":73.8039215686},{"Origin":"PUB","STATE":"CO","x":"Pueblo Memorial Airport","value":74.0},{"Origin":"EGE","STATE":"CO","x":"Eagle County Regional Airport","value":77.1733966746},{"Origin":"MOT","STATE":"ND","x":"Minot International Airport","value":79.1755725191},{"Origin":"ALO","STATE":"IA","x":"Waterloo Regional Airport","value":79.9032258065},{"Origin":"MQT","STATE":"MI","x":"Sawyer International Airport","value":80.2736842105},{"Origin":"SPI","STATE":"IL","x":"Abraham Lincoln Capital Airport","value":87.4213483146},{"Origin":"PLN","STATE":"MI","x":"Pellston Regional Airport of Emmet County","value":94.6666666667},{"Origin":"CMX","STATE":"MI","x":"Houghton County Memorial Airport","value":122.5588235294}]}'